* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  text-shadow: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  white-space: normal;
  word-break: break-word;
}
body{
  min-height: 100vh;
  cursor: help;
  background: #333;
  color: #e6e6e6;
}
a:hover {
  cursor: help;
}
#root {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}
aside {
  width: 15%;
  height: 100%;
  min-height: 100vh;
  background: #121212;
}
.container{
  padding: 15px;
  width: 85%;
  animation: appear 0.3s ease-in-out;
}
nav {
  padding: 15px;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}
nav .avatar {
  margin: 15px auto;
}
nav .avatar img {
  margin: 0 auto;
  width: 100%;
  max-width: 150px;
  display: block;
  border-radius: 100%;
}
nav .links a {
  margin: 7.5px auto;
  padding: 10px;
  display: block;
  font-size: 1.2em;
  color: #e6e6e6;
}
@media (max-width: 920px) {
  #root {
    flex-flow: column nowrap;
  }
  aside {
    width: 100%;
  }
  .container {
    width: 100%;
  }
  nav {
    flex-flow: row wrap;
  }
  nav .avatar {
    display: inline-block;
  }
  nav .links {
    width: 100%;
  }
  nav .links a {
    display: inline-block;
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}